<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dc.dao.BlogMapper">
	<resultMap id="blog" type="com.dc.entity.Blog">
	    <result column="id" property="id" jdbcType="INTEGER" />
	    <result column="deleted" property="deleted" jdbcType="INTEGER" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="user_id" property="user_id" jdbcType="INTEGER" />
		<result column="blog_id" property="blog_id" jdbcType="INTEGER" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="tag" property="tag" jdbcType="VARCHAR" />
		<result column="created_time" property="created_time" jdbcType="TIMESTAMP" />
		<result column="updated_time" property="updated_time" jdbcType="TIMESTAMP" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="user_name" property="user_name" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getByBlogId" resultMap="blog">
		select
		*
		from
		blog a
		where a.blog_id =#{blog_id,jdbcType=INTEGER}
	</select>
	
	<update id="updateByBlogId" parameterType="com.dc.entity.Blog" >
		update blog 
		<set>
			<if test="updated_time != null">
				updated_time = #{updated_time,jdbcType=TIMESTAMP},
			</if>
			<if test="title != null and title != ''">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="summary != null ">
				summary = #{summary,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				content = #{content,jdbcType=VARCHAR},
			</if>
		</set>
		where blog_id = #{blog_id,jdbcType=INTEGER}
	</update>
	
	<select id="selectAll" resultMap="blog" parameterType="com.dc.entity.Blog">
		select
		a.title, a.user_id, a.blog_id, a.summary, a.tag, a.updated_time,
		b.name as user_name
		from
		blog a left join author b on
		a.user_id=b.user_id
		where a.deleted=0
		<if test="title != null and title !=''">
			AND a.title LIKE '%${title}%'
		</if>

		<if test="summary != null and summary !=''">
			AND a.summary LIKE '%${summary}%'
		</if>

		<if test="content != null and content !=''">
			AND b.content LIKE '%${content}%'
		</if>
		
		<if test="user_id != null">
			AND a.user_id = #{user_id, jdbcType=INTEGER}
		</if>
		order by a.updated_time
	</select>
	
</mapper>