<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dc.dao.topnewsMapper">
	<resultMap id="topnews" type="com.dc.entity.topnews">
		<result column="id" property="id" jdbcType="BIGINT" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="summary" property="summary" jdbcType="VARCHAR" />
		<result column="author" property="author" jdbcType="VARCHAR" />
		<result column="picture" property="picture" jdbcType="VARCHAR" />
		<result column="blog_id" property="blog_id" jdbcType="INTEGER" />
		<result column="updated_time" property="updated_time" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="getAll" resultMap="topnews">
		select
		a.id, a.title, a.summary, a.author, a.picture, a.blog_id, a.updated_time
		from
		topnews a
		where 1 =1
	</select>
	
	<delete id="deleteByBlogId">
		delete from topnews
		where 
		blog_id=#{blog_id,jdbcType=INTEGER}
	</delete>
</mapper>